@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<h4>Social network</h4>
<a>https://www.linkedin.com/in/lucas-mantovani-561339219/</a>
<h4>Repository</h4>
<a>https://github.com/lucas-mantovani/</a>
<hr />
<address>
    <strong>Contact:</strong> <a href="mailto:lucasm123345@gmail.com">lucasm123345@gmail.com</a><br />
</address>
